@use "../base/variables" as *;

.button {
  display: inline-block;
  font-family: $font-title;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: $color-button-text;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: $color-accent;
  transition: background-color 0.3s ease 0s;

  &:hover {
    background-color: $color-accent-light;
  }

  &_blue {
    background-color: $color-blue;

    &:hover {
      background-color: $color-blue-light;
    }
  }
}
