@use "variables" as *;

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: $font-base;
  font-size: 12px;
  color: $color-text;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}
